body{
    background-color: cadetblue;
}
#text{
    text-shadow: 3px 2px 1px blue;
}
#box{
    box-shadow: 5px 5px 3px black;
}
.text1{
    font-size: 20px;
    font-family: "Kaushan Script", cursive;
}